<% layout('./layouts/boilerplate')%>

<h2 style="text-align: center;">About Us:</h2>
<hr>

<p>SpiceBook was created to allow those who have a passion for cooking up share their recipes with the rest of the world. We strive to allow our users to share their very own recipes, allowing other users to enjoy and expand their
    culinary skills.
</p>
<p></p>
<p>Join today for free and get cooking! <a href="/register">SIGN UP NOW!</a></p>
<hr>
<h2 style="text-align: center;">OTHER INFO:</h2>
<p>This website is actaully a term project for CISC 4900 at Brooklyn College, it was made to demonstrate my skills as a new web developer.</p>
<p></p>
<p>This webpage implements many different aspects of web development languages and tools! Here are some listed below: </p>

<ul>
    <li>HTML and EJS</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Mongodb</li>
    <li>Node.JS</li>
    <li>Express Module</li>
    <li>Cloudinary Services</li>
    <li>Bootstrap 5</li>
    <li>Heroku Webhosting</li>
    <li>And Many more NPM modules</li>
</ul>

<p>Note: This site by no means is meant to deploy as a standalone professional website, therefore account creation has no verification in terms of email as well as being a true recipe site.</p>

